################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/meli-notification-challenge/FileContentIndex
/.vs/meli-notification-challenge/v17
/.vs
/src/WebApi/obj
/tests/UnitTests/obj
/src/WebApi/bin/Debug/net6.0
/tests/UnitTests/bin/Debug/net6.0/cs
/tests/UnitTests/bin/Debug/net6.0/es
/tests/UnitTests/bin/Debug/net6.0/de
/tests/UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/tests/UnitTests/bin/Debug/net6.0/fr
/tests/UnitTests/bin/Debug/net6.0/it
/tests/UnitTests/bin/Debug/net6.0/ja
/tests/UnitTests/bin/Debug/net6.0/ko
/tests/UnitTests/bin/Debug/net6.0/pl
/tests/UnitTests/bin/Debug/net6.0/pt-BR
/tests/UnitTests/bin/Debug/net6.0/ru
/tests/UnitTests/bin/Debug/net6.0/tr
/tests/UnitTests/bin/Debug/net6.0/zh-Hant
/tests/UnitTests/bin/Debug/net6.0/zh-Hans
/tests/UnitTests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/tests/UnitTests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
/tests/UnitTests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
/tests/UnitTests/bin/Debug/net6.0/xunit.execution.dotnet.dll
/tests/UnitTests/bin/Debug/net6.0/xunit.core.dll
/tests/UnitTests/bin/Debug/net6.0/xunit.assert.dll
/tests/UnitTests/bin/Debug/net6.0/xunit.abstractions.dll
/tests/UnitTests/bin/Debug/net6.0/UnitTests.runtimeconfig.json
/tests/UnitTests/bin/Debug/net6.0/UnitTests.pdb
/tests/UnitTests/bin/Debug/net6.0/UnitTests.dll
/tests/UnitTests/bin/Debug/net6.0/UnitTests.deps.json
/tests/UnitTests/bin/Debug/net6.0/testhost.exe
/tests/UnitTests/bin/Debug/net6.0/testhost.dll
/tests/UnitTests/bin/Debug/net6.0/NuGet.Frameworks.dll
/tests/UnitTests/bin/Debug/net6.0/Newtonsoft.Json.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/tests/UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/src/Application/obj/Release/net6.0
/src/Application/obj/Debug/net6.0
/src/Application/obj
/src/Domain/obj
/src/Infrastructure/obj
